<div class="card-exercises">
  <mat-card>
    <div class="card-grid">
      <div class="card-exercise">
        <h1 class="card-title">Verb To Be</h1>
        <p class="card-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam culpa earum consectetur ipsum architecto, quod vero unde provident maxime autem delectus dolor animi illum itaque corrupti aspernatur molestiae quasi. Voluptatem.</p>
        <div class="card-button">
          <button mat-raised-button color="primary" routerLink="verb-to-be">Test</button>
        </div>
      </div>
      <div class="card-exercise">
        <h1 class="card-title">Verb To Be</h1>
        <p class="card-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam culpa earum consectetur ipsum architecto, quod vero unde provident maxime autem delectus dolor animi illum itaque corrupti aspernatur molestiae quasi. Voluptatem.</p>
        <div class="card-button">
          <button mat-raised-button color="primary" routerLink="verb-to-be">Test</button>
        </div>
      </div>
      <div class="card-exercise">
        <h1 class="card-title">Verb To Be</h1>
        <p class="card-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam culpa earum consectetur ipsum architecto, quod vero unde provident maxime autem delectus dolor animi illum itaque corrupti aspernatur molestiae quasi. Voluptatem.</p>
        <div class="card-button">
          <button mat-raised-button color="primary" routerLink="verb-to-be">Test</button>
        </div>
      </div>
    </div>
  </mat-card>
</div>


