.example-container {
  position:relative;
  min-height:100vh;
  width: 100%;
  margin:0;
  padding:0;
}

.example-footer {
  position: relative;
  background-color: #3F51B5;
  color: white;
}

.sidenav {
  width: 10%;

}
