<mat-card class="card-exercises">
  <div class="card-grid">

      <mat-vertical-stepper [linear]="false" #stepper [animationDuration]="duration">
        <ng-template ngFor let-exercise [ngForOf]="exercises">
          <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
            <form [formGroup]="firstFormGroup">
              <ng-template matStepLabel>{{ exercise.title }}</ng-template>
              <span>{{ exercise.sentence }}</span>
                <ul>
                  <mat-radio-group *ngIf="!checked" [(ngModel)]="selectedAnswer" [ngModelOptions]="{standalone: true}">
                    <mat-radio-button *ngFor="let answer of exercise.answers" [value]="answer">
                      {{ answer }}
                    </mat-radio-button>
                  </mat-radio-group>
                  <mat-radio-group *ngIf="checked">
                    <span *ngIf="checkAnswer(selectedAnswer, exercise.cAnswer)">Your answer is correct! {{ exercise.cAnswer }}</span>
                    <span>Your answer is incorrect! The correct answer is {{ exercise.cAnswer }}</span>
                  </mat-radio-group>
                </ul>
              <div>
                <button mat-button matStepperNext (click)="checkAnswer(selectedAnswer, exercise.cAnswer)">Next</button>
              </div>
            </form>
          </mat-step>
      </ng-template>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        Confirm Answers
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="resetStepper()">Reset</button>
          <button mat-button (click)="checkAll()">Done</button>
        </div>
      </mat-step>
      </mat-vertical-stepper>

      <!-- <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{ exercise.title }}</mat-card-title>
          <mat-card-subtitle>{{ exercise.chapter }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{ exercise.sentence }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card> -->


  </div>
</mat-card>
