<div class="register-page-container">
  <div class="register-panel">
    <div class="form-section">
      <div class="form-header">
        <h1 class="title">Create your account</h1>
      </div>

      <form class="register-form" #registerForm="ngForm" (ngSubmit)="onSubmit()">
        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>

        <div class="form-group">
          <label for="name">Full Name</label>
          <input type="name" id="name" name="name" placeholder="Enter your full name" [(ngModel)]="name" required />
        </div>

        <div class="form-group">
          <label for="email">E-mail Address</label>
          <input type="email" id="email" name="email" placeholder="Enter your email" [(ngModel)]="email" required email
            #emailInput="ngModel" />

          <div *ngIf="
              emailInput.invalid && (emailInput.dirty || emailInput.touched)
            " class="validation-error">
            <small *ngIf="emailInput.errors?.['required']">Email is required.</small>
            <small *ngIf="emailInput.errors?.['email']">Please enter a valid email.</small>
          </div>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" placeholder="Enter your password" [(ngModel)]="password"
            required minlength="8" #passwordInput="ngModel" />

          <div *ngIf="
              passwordInput.invalid &&
              (passwordInput.dirty || passwordInput.touched)
            " class="validation-error">
            <small *ngIf="passwordInput.errors?.['required']">Password is required.</small>
            <small *ngIf="passwordInput.errors?.['minlength']">Password must be at least 8 characters long.</small>
          </div>
        </div>

        <div class="form-group">
          <label for="confirmPassword">Confirm your password</label>
          <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm your password"
            [(ngModel)]="confirmPassword" required #confirmPasswordInput="ngModel" />

          <div *ngIf="
              confirmPasswordInput.invalid &&
              (confirmPasswordInput.dirty || confirmPasswordInput.touched)
            " class="validation-error">
            <small *ngIf="confirmPasswordInput.errors?.['required']">Password confirmation is required.</small>
          </div>
          <div *ngIf="
              password !== confirmPassword &&
              (confirmPasswordInput.dirty || confirmPasswordInput.touched)
            " class="validation-error">
            <small>Passwords do not match.</small>
          </div>
        </div>


        <button type="submit" class="register-button"
          [disabled]="isLoading || registerForm.invalid || password !== confirmPassword">
          {{ isLoading ? 'Registering...' : 'Register' }}
        </button>
      </form>
    </div>

    <div class="illustration-section">
      <img src="assets/images/graded-ex-logo.png" alt="Person studying at a desk" />
    </div>
  </div>
</div>
