@use '../../../../assets/styles/variaveis.scss' as *;

.conteiner-painel-superior {
  background-color: $fundo-painel-superior;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 1em;
}

.botao-menu-hamburguer {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
  margin-right: 15px;
}

@media (max-width: 768px) {
  .botao-menu-hamburguer {
    display: block;
  }
}
