@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --sidebar-bg: #82a6b884;
  --sidebar-text: #254F63;
  --sidebar-text-active: #ffffff;
  --sidebar-item-hover-bg: #34495e;
  --sidebar-item-active-bg: #213242;

  --topbar-bg: #022333;
  --main-content-bg: #f5f7fa;
  --panel-bg: #ffffff;

  --text-color-dark: #254F63;
  --border-color: #e0e0e0;
  --text-color-white: #fff;

  --sidebar-width: 250px;
  --topbar-height: 60px;
  --font-family-primary: 'Roboto', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: var(--font-family-primary);
  background-color: var(--main-content-bg);
  color: var(--text-color-dark);
}

body.dark-theme {
  --sidebar-bg: #2c3e50;
  --topbar-bg: #212F3D;
  --main-content-bg: #1C2833;
  --panel-bg: #2c3e50;

  --sidebar-text: #bdc3c7;
  --sidebar-text-active: #ffffff;
  --text-color-dark: #ecf0f1;
  --text-color-white: #17202A;

  --sidebar-item-hover-bg: #34495e;
  --answer-item-hover-bg: #34495e30;
  --sidebar-item-active-bg: #4e657e;

  --border-color: #424949;
}
