$fundo-painel-lateral: #82A6B8 !default;
$fundo-pagina: #D3DDE2 !default;
$fundo-painel-superior: #022333 !default;
$fundo-barra-pesquisa: #A8B3BB !default;
$hover-botao-lateral: #82A6B8 !default;
$fonte-principal: #254F63 !default;
$fonte-secundaria: #254f63c7 !default;
$fundo-branco: #FFFF !default;
