@use '../../../assets/styles/variaveis.scss' as *;

.container-home {
  display: flex;
  flex-direction: column;
}

.painel-superior {
  height: 7.75vh;
}

.painel-central {
  width: 71vw;
  height: 92vh;
  padding: 2em 1em 2em 2em;
}

.conteudo {
  display: flex;
  height: 100vh;
}

.conteudo-central {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: $fundo-pagina;
}
